@{
    ViewBag.Title = "About";
}

<hgroup class="title">
</hgroup>

<article>
    <section>
        <hgroup>
            <h3>Our goal</h3>
        </hgroup>
        <p>
            We build software applications that make your computer usage a productive experience.
        </p>
    </section>

    <section>
        <hgroup>
            <h3>Our product offerings</h3>
        </hgroup>
        <p>
            Play your favorite music or movies using <i>JustPushPlay</i>.<br />
            <i>PicturePerfect</i> lets you edit your pictures and make them look the way you want to.<br />
            Make movies by putting together images, audio clips and video clips of your choice with <i>MovieMan</i>.<br />
            Reduce the size of large files on your computer with the help of <i>CompressIt</i>.<br />
            Give your computer a nice washdown by just running <i>CleanAll</i>.
        </p>
    </section>

    <section>
        <hgroup>
            <h3>Our project deals</h3>
        </hgroup>
        <p>
            We undertake contracts to build custom software for your computer.
        </p>
    </section>

    <section>
        <hgroup>
            <h3>Our quality assurance</h3>
        </hgroup>
        <p>
            Our products are developed and tested to the highest standards.
        </p>
    </section>
</article>

<aside>
    <h3>Take a look around our product catalog!</h3>
    <p>
        Browse our catalog to look for an app of your interest.
    </p>
</aside>

<aside>
    <h3>Find out about our project contracts!</h3>
    <p>
        If you are interested in getting associated with us, register and let us know in the ContractProposal section.
    </p>
</aside>