@{
    ViewBag.Title = "Contract";
}

We build software applications that make your computer usage a productive experience.<br />
We undertake contracts to build custom software for your computer.<br />
Our products are developed and tested to the highest standards.<br />
<p>Want to work with us? @Html.ActionLink("Let us know.", "Create", "ContractProposal")</p>